:root {
    --primary: #7e22ce;
    --light: #d8b4fe;
    --grey: #cbd5e1;
    --darkgray: #737373;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 1.2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    border: 1px solid black;
}

.sidebar {
    border: 2px solid lightblue;
    grid-row: 1/3;
    background: lightblue;
}

.header {
    border: 2px solid white;
    grid-column: 2/3;
    background: white;
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr 1fr 1fr; */
    /* grid-template-rows: repeat(2, 1fr); */
    padding: 20px;
    box-shadow: var(--shadow);

}

.first-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;

}

.first-line .screen {
    height: 50px;
    width: 800px;
    background: #edeeed;
    border: none;
    border-radius: 30px;
    margin-right: 300px;
    box-shadow: var(--shadow);
    cursor: pointer;

}

.second-line {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;

}

.second-line ol {
    list-style: none;
    text-decoration: none;
    padding-right: 30px;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    margin-left: 400px;
}


.second-line .links ol a {
    text-decoration: none;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 10px 30px;

}

.second-line .links ol a:hover {
    background: var(--light);
}




/* main */

.main {

    grid-column: 2/3;
    background: #edeeed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 30px;
    gap: 20px;
    grid-template-areas:
        'a b c'
        'd e h'
        'f g h';
}


.item2 {
    grid-area: b;
}

.item3 {}

.item4 {
    grid-area: d;
}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

.item7 {
    grid-area: g;
}

.item8 {
    grid-area: h;
}


.main .items {

    background-color: white;
    box-shadow: var(--shadow);
    border-radius: 15px;
    border-left: 10px solid var(--primary);
    padding: 20px;
}

.items:nth-child(1) {
    grid-area: a;

}

/* .items:nth-child(3) { 
    grid-area: c;
    grid-row: 1 /span 2;
    gap: 20px;
}


.items:nth-child(3) {
    grid-area: c;
    grid-row: 1 /span 2;
    gap: 20px;
/* } */

/* sidebar */

.sidebar {

    background: var(--light);
    box-shadow: var(--shadow);
    border: none;
}

.sidebar h1 {
    margin-bottom: 30px;
}

.sidebar h2:hover {
    text-decoration: underline;
    cursor: pointer;

}

.sidebar h2 {
    padding: 10px;
    font-size: 20px;

}

.sidebar .space {
    margin-top: 50px;
}