:root {
    --primary: #7e22ce;
    --light: #d8b4fe;
    --grey: #cbd5e1;
    --darkgray: #737373;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 1.2rem;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    border: 1px solid black;
}

.sidebar {
    border: 2px solid lightblue;
    grid-row: 1/3;
    background: lightblue;
}

.header {
    border: 2px solid salmon;
    grid-column: 2/3;
    background: white;
    /* display: grid; */
    /* grid-template-columns: 1fr 2fr 1fr 1fr; */
    /* grid-template-rows: repeat(2, 1fr); */
    padding: 20px;
    box-shadow: var(--shadow);

}

.first-line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

}

.first-line .screen {
    height: 50px;
    width: 900px;
    background: #edeeed;
    border: none;
    border-radius: 30px;

}

.second-line {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-top: 30px;

}

.second-line ol {
    list-style: none;
    text-decoration: none;
}

.links {
    display: flex;
}

.second-line .links ol a {
    text-decoration: none;
    border: none;
    width: 200px;
    height: 90px;
    background-color: var(--darkgray);
    color: white;
    border-radius: 12px;

}











/* search */





.main {
    border: 2px solid pink;
    grid-column: 2/3;
    background: pink;
}